In [ ]:
import pandas as pd

In [ ]:
import csv
with open("/content/drive/MyDrive/DATA/olympic_medals.csv") as f:
    reader = csv.DictReader (f)
    olympics_data = list(reader)

df = pd.DataFrame(olympics_data)

In [28]:
#2(a) find the size of the data frame
df.shape

(2394, 8)

In [ ]:
#2(b) find the data type of each column
df.dtypes

Gender         object
Event          object
Location       object
Year           object
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [18]:
df.head()

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77

In [58]:
#2(c) how many unique cities matches were held
len(df['Location'].unique())

23

In [57]:
#2(d) find how many medals US won
len(df[df['Nationality'] == ('USA')])

638

In [61]:
#2(e) Total number of medals for each nationality
df.groupby(by='Nationality')['Medal'].count()

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64